body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #243642;  
  font-family: "Roboto", sans-serif;
}

h1, h2, h3, h4, h5, h6 , p{
  margin: 0;
}

.highlight{
  color: #fff;
  font-weight: bold;
  text-transform: capitalize;
}

header{
  background-color: #243642;
  color: #fff;
  text-align: center;
  padding: 10px;
}

.header-app{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-icon{
  width: 30px;
  height: 30px;
  fill: #fff;
  cursor: pointer;
}

.favorite-movies{
  background-color: #243642;
  position: absolute;
  right: 0;
  top: 8%;
  height: 80vh;
  width: 400px;
  padding: 10px ;
  overflow-y: auto;
  z-index: 999;
  border: solid 2px white;
  border-radius: 10px;
}

.favorites-container{
  border: solid white 1px;
  height: 100px;
  width: 100%;
  display: flex;
  margin-bottom: 10px;
  border-radius: 5px;
}

.poster-favorite{
  border: 1px solid #fff;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  color:#fff;
  border-radius: 5px;
}

.info-favorite{
  width: 50%;
  display: flex;
  flex-direction: column;
  color: #fff;
  position: relative;
}

.title-favorite{
  width: 100%;
  height: 60px;
  text-transform: capitalize;
  font-size: 15px;
  margin-top: 5px;
}

.year-favorite{
  width: 100%;
  height: 40px;
  font-size: 20px;
}

.remove-favorite{
  position: absolute;
  right: 0;
  top: 70%;
  width: 30px;
  background: none;
  border: none;
  cursor: pointer;
}

.header-container{
  background-color: #387478;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#search{
  width: 50%;
  height: 20px;
  border: none;
  border-radius: 5px;
  padding: 5px;
  margin-right: 10px;
  outline: none;
  text-transform: capitalize;
  font-size: 1rem;
  position: relative;
}

.suggestions{
  background-color: #EAD8B1;
  position: absolute;
  top: 15%;
  left: 24.4%;
  width: 50%;
  max-height: 200px;
  overflow-y: auto;
  /* border-radius: 5px; */
  padding: 5px;
  z-index: 1;
}

.suggestions::-webkit-scrollbar {
  width: 5px; 
  height: 5px; 
}

  .suggestions::-webkit-scrollbar-track {
  background: #fff;
}

  .suggestions::-webkit-scrollbar-thumb {
  background-color: #888; 
  border-radius: 10px; 
}

  .suggestions::-webkit-scrollbar-thumb:hover {
  background-color: #555; 
}

.suggestions-movie{
  border: solid #333 2px;
  color: #000;
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.suggestions-img{
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.suggestions-poster{
  width: 70px;
  height: 70px;
  border: black solid 2px;
}

.suggestions-info{
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin-left: 30px;
}

.suggestions-title{
  margin-bottom: 16px;
  font-size: 1.5rem;
}

.suggestions-year{
  font-size: 1rem;
}

.suggestions-movie:hover{
  background-color: #756d6d;
  cursor: pointer;
}

.header-container svg{
  position: absolute;
  left: 72%;
}

.body-container{
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-container{
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 100px;
}

.poster{
  object-fit: contain;
  border: #fff solid 2px;
}

.info-container{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.title-movie{
  margin-bottom: 10px;
  color: gold;
  font-size: 3rem;
}

.history-movie{
  color: #fff;
  font-size: 1rem;
  margin-bottom: 20px;
}

.history-movie .rating{
  margin-left: 10px;
  margin-right: 10px;
  padding: 5px;
  border-radius: 5px;
  background-color: gold;
}

.genre-movie{
  margin-bottom: 10px;
  padding: 5px;
  background-color: #827b7b96;
  color: #fff;
  font-size: 1rem;
  border-radius: 5px; 
}

.writer-movie , .actors-movie , .plot-movie  , .awards-movie{
  margin-bottom: 10px;
  color: #fff;
  font-size: 1rem;
}

.plot-movie{
  width: 40%;
}

.language-movie{
  margin-bottom: 10px;
  color: gold;
  font-size: 1rem;
}

.language{
  color:goldenrod;
}

.add-favorite{
  width: 40px;
  height: 40px;
  background: none;
  border: none;
  cursor: pointer;
}

.hidden{
  display: none;
}

.no-movies{
  color: #333;
  font-size: 2rem;
}

@media (max-width: 768px) {

  .body-container{
    height: 60vh;
  }

  .img-container{
    width: 50%;
  }

  .suggestions {
    top: 15.3%;
    left: 22.8%;
  }

  .suggestions-movie{
    padding: 10px;
  }

  .suggestions-title {
    width: 100%;
    margin-bottom: 5px;
    font-size: 1rem;
  }

  .suggestions-poster {
    width: 45px;
    height: 45px;
  }

  .no-movies{
    font-size: 1rem;
  }

  .header-container svg{
    left: 69%;
  }

  .img-container{
    margin-right: 10px;
  }

  .poster{
    height: 200px;
  }

  .title-movie{
    font-size: 1rem;
    margin-bottom: 10px;
  }

  .history-movie{
    font-size: 0.5rem;
    margin-bottom: 10px;
  }

  .genre-movie{
    font-size: 0.5rem;
    margin-bottom: 5px;
  }

  .writer-movie, .actors-movie, .plot-movie, .awards-movie{
    width: 60%;
    font-size: 0.5rem;
  }

  .language-movie{
    font-size: 0.6rem;
  }

  .favorite-movies{
    width: 200px;
    height: 60vh;
  }

  .title-favorite{
    font-size: 10px;
  }
}

